<section>
  <h1>About Me</h1>
  <p class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="light" data-vanity="sundeep-anand"><a class="LI-simple-link" href='https://in.linkedin.com/in/sundeep-anand?trk=profile-badge'></a></p>
  <p>Interests in linux, i18n, web, containers, devops. IRC #freenode nick suanand.</p>
  <p>Fedora <a href="https://fedoraproject.org/wiki/User:Sundeep" target="_blank">Page</a></p>
  <p>Speaker <a href="https://speakerdeck.com/sundeep" target="_blank">Deck</a></p>
</section>
<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
