<section>
  <h1>About Me</h1>
  <p>Software Engineer with Red Hat, Pune. Interests in linux, i18n, web, containers, devops. IRC freenode nick suanand.</p>
  <p>Fedora <a href="https://fedoraproject.org/wiki/User:Sundeep" target="_blank">Page</a></p>
  <p>Speaker <a href="https://speakerdeck.com/sundeep" target="_blank">Deck</a></p>
  <p>Twitter <a href="https://twitter.com/sundeep_co_in" target="_blank">Handle</a></p>
  <p>Linkedin <a href="https://www.linkedin.com/in/sundeep-co-in" target="_blank">Profile</a></p>
</section>
